.task-count{
  background: #5111FC;
  box-shadow: 7px 7px 15px #410FC6, -4px -4px 13px #BAA0FC,
  inset 4px 4px 8px rgba(108, 54, 252, 0.2),
  inset -8px -8px 8px rgba(100, 42, 254, 0.2);

border: 1px solid rgba(100, 42, 254, 0.3);
padding:10px;
border-radius: 100px;
}